; Configuration file for third party software install locations and any
; software outside of the ergatis install path.
; Each section provides a set of variables corresponding to a component
; and so headers must correspond to component names. For example tokens
; under [component wu-blastp] will only be evaluated when running the wu-blastp
; component.  Tokens under any 'common' section will be evaluated for all
; components

;; common stuff first
[common shared]
$;MOTHUR_EXEC$;=/opt/opt-packages/mothur-1.12.0/mothur
$;HADOOP_EXEC$;=/opt/hadoop/bin/hadoop

[common inputs]
$;DB_DIR$;=/mnt/staging/db
$;DB_NR_PEPTIDE$;=/mnt/staging/db/panda/AllGroup/AllGroup.niaa
$;FASTA_NR_PEPTIDE$;=/mnt/staging/db/panda/AllGroup/AllGroup.fasta
$;HMM_ALL$;=/mnt/staging/db/coding_hmm/coding_hmm.lib.bin
$;HMM_LIB_DB$;=/mnt/staging/db/coding_hmm/coding_hmm.lib.db
$;SIMPLE_REPEAT_LIB$;=/usr/local/devel/ANNOTATION/RepeatMasker20020713/Libraries/simple.lib
$;RNA_LIB$;=/mnt/staging/db/RDPII/release9_56_unaligned.fasta
$;PRIAM_PROFILES$;=/mnt/staging/db/priam/profile_EZ
$;NCBI_BLAST_NUC_NR$;=/mnt/staging/db/ncbi/nr

;; components below
[component aat_aa]
$;DPS_EXEC$;=/usr/local/devel/ANNOTATION/elee/bin/aat/dps
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;NAP_EXEC$;=/usr/local/bin/nap
$;MATRIX$;=/opt/AAT/matrices/BS

[component aat_aa_masked]
$;DPS_EXEC$;=/usr/local/devel/ANNOTATION/elee/bin/aat/dps
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;NAP_EXEC$;=/usr/local/bin/nap

[component aat_na]
$;DDS_EXEC$;=/usr/local/devel/ANNOTATION/elee/bin/aat/dds
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;GAP2_EXEC$;=/usr/local/bin/gap2

[component aat_na_masked]
$;DDS_EXEC$;=/usr/local/devel/ANNOTATION/elee/bin/aat/dds
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;GAP2_EXEC$;=/usr/local/bin/gap2

[component aragorn]
$;ARAGORN_EXEC$;=/usr/local/devel/ANNOTATION/wnelson/aragorn

[component auto_gene_curation]
$;HMM_INFO_DB$;=/mnt/coding_hmm.lib.db
$;NCBI_TAX_NAMES$;=$;DB_DIR$;/ncbi/taxonomy/names.dmp
$;NCBI_TAX_NODES$;=$;DB_DIR$;/ncbi/taxonomy/nodes.dmp

[component ber]
$;PRAZE_EXEC$;=/usr/local/bin/praze
$;CDBFASTA_PATH$;=/usr/local/bin
$;FORMATDB_PATH$;=/usr/bin
$;XDFORMAT_PATH$;=/usr/bin

[component clustalw]
$;CLUSTALW_EXEC$;=/usr/local/devel/ANNOTATION/clustalw1.83/clustalw

[component ec_assignment]
$;PSIBLAST_EXEC$;=/usr/local/devel/ANNOTATION/elee/blast/stable/bin/blastpgp

[component fgenesh]
$;FGENESH_EXEC$;=/usr/local/devel/ANNOTATION/euk_genome_control/bin/fgenesh/Linux/fgenesh

[component formatdb]
$;FORMATDB_EXEC$;=/usr/bin/formatdb

[component fuzznuc]
$;FUZZNUC_EXEC$;=/opt/EMBOSS/bin/fuzznuc

[component geneid]
$;GENEID_EXEC$;=/opt/geneid/bin/geneid

[component genemark]
$;GMHMME3_EXEC$;=/usr/local/bin/gmhmme3

[component genemark-es]
$;GENEMARKES_EXEC$;=/opt/GeneMarkHMM_ES_64_v2.3a/gm_es.pl

[component genezilla]
$;GENEZILLA_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/opt/genezilla

[component genewise]
$;GENEWISE_EXEC$;=/usr/local/devel/ANNOTATION/EGC_utilities/WISE2/wise2.2.0/src/bin/genewise

[component glimmer3]
$;GLIMMER3_EXEC$;=/usr/local/bin/glimmer3
$;GLIMMER3_DIR$;=/usr/local/bioinf/glimmer/glimmer

[component glimmerHMM]
$;GLIMMERHMM_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/glimmerHMM/glimmerhmm

[component hmmpfam]
$;HMMPFAM_EXEC$;=/usr/bin/hmmpfam

[component hmmls]
$;HMMLS_EXEC$;=/usr/local/bin/hmmls

[component infernal]
$;CMSEARCH_EXEC$;=/usr/local/bin/cmsearch
$;RFAM_HMM_CM_MAP$;=/usr/local/projects/db/Rfam/current/hmm_cm_mapping
$;RFAM_STOCKHOLM_DIR$;=/usr/local/projects/db/Rfam/current/stockholm

[component iprscan]
$;IPRSCAN_EXEC$;=/opt/iprscan/bin/iprscan.sh

[component jaccard]
$;CLUSTER_PATH$;=/opt/ergatis/bin/cluster

[component metagene]
$;METAGENE_EXEC$;=/diag/projects/virome/package_virome/software/mga_linux_ia64

[component metagenemark]
$;METAGENEMARK_EXEC$;=/opt/metagenemark/gmhmmp
$;MGM_DEFAULT_MODEL$;=/opt/metagenemark/MetaGeneMark_v1.mod

[component mugsycog]
$;MUGSY_EXEC$;=/opt/opt-packages/mugsy_x86-64-v1r1

[component muscle]
$;MUSCLE_EXEC$;=/usr/local/bin/muscle

[component ncbi-blastp]
$;COGS_DB$;=$;DB_DIR$;/ncbi/COG/myva
$;BLASTALL_EXEC$;=/opt/blast/bin/blastall

[component ncbi-blastn]
$;BLASTALL_EXEC$;=/opt/blast/bin/blastall

[component ncbi-blastx]
$;BLASTALL_EXEC$;=/opt/blast/bin/blastall

[component ncbi-blastn_compress]
$;BLASTALL_EXEC$;=/opt/blast/bin/blastall

[component ncbi-tblastn]
$;BLASTALL_EXEC$;=/opt/blast/bin/blastall

[component ncbi-blastall]
$;BLASTALL_EXEC$;=/opt/blast/bin/blastall

[component open_reading_frames]

[component panther]
$;PANTHER_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/opt/pantherScore1.0/pantherScore.pl
$;PANTHER_HMM_LIBRARY$;=/usr/local/db/common/PANTHER6.0
$;BLASTALL_EXEC$;=/opt/blast/bin/blastall
$;HMMSEARCH_EXEC$;=/usr/local/bin/hmmsearch
$;GUNZIP_EXEC$;=/usr/bin/gunzip

[component phat]
$;FULLPHAT_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/phat/fullphat

[component phylip_dnadist]
$;DNADIST_WORKER$;=/home/jcrabtree/bin/dnadist_worker
$;DNADIST_COMBINER$;=/home/jcrabtree/bin/dnadist_combiner
$;DNADIST_SORT$;=/bin/sort

[component pipeline_summary]
$;COGS_LOOKUP$;=$;DB_DIR$;/ncbi/COG/whog

[component predotar]
$;PREDOTAR_EXEC$;=/usr/local/bin/predotar

[component predict_prokaryotic_gene_function]
$;CHAR_DB$;=$;DB_DIR$;/tchar/tchar.db

[component prepare_paired_ends_for_velvet]
$;VELVET_INSTALL_DIR$;=/opt/opt-packages/bioinf-v1r4b1/velvet

[component ps_scan]
$;PS_SCAN_EXEC$;=/usr/local/bin/ps_scan.pl
$;PROSITE_DAT_PATH$;=/usr/local/projects/db/prosite/prosite.dat
$;PFSCAN_EXEC$;=/usr/local/bin/pfscan
$;PSA2MSA$;=/usr/local/bin/psa2msa

[component psiblast]
$;PSIBLAST_EXEC$;=/usr/local/bin/blastpgp

[component quicktree]
$;QUICKTREE_EXEC$;=/home/jinman/bin/quicktree

[component rdp_classifier]
$;RDP_CLASSIFIER_JAR_FILE$;=/usr/local/bioinf/rdp_classifier/rdp_classifier-2.0.jar
$;JAVA_EXEC$;=/usr/bin/java

[component repeatmasker]
$;REPEATMASKER_EXEC$;=/usr/local/bin/RepeatMasker

[component RNAmmer]
$;RNAMMER_EXEC$;=/usr/local/bioinf/rnammer/rnammer

[component rpsblast]
$;RPSBLAST_EXEC$;=/usr/local/bin/rpsblast

[component seg]
$;SEG_EXEC$;=/usr/local/bin/seg

[component signalp]
$;SIGNALP_EXEC$;=/usr/local/bin/signalp

[component snap]
$;SNAP_EXEC$;=/usr/local/devel/ANNOTATION/EGC_utilities/SNAP/SNAP/snap

[component stap_aligner]
$;STAP_ALIGNER_EXEC$;=/opt/STAP/bin/align_to_rRNA_profile.pl

[component stap_classifier]
$;STAP_CLASSIFIER_EXEC$;=/opt/STAP/bin/rRNA_pipeline_for_one.pl

[component start_site_curation]
$;CHAR_DB$;=$;DB_DIR$;/tchar/tchar.db

[component targetp]
$;TARGETP_EXEC$;=/usr/local/bin/targetp

[component tbl2asn]
$;TBL2ASN_EXEC$;=/usr/bin/tbl2asn

[component tmhmm]
$;TMHMM_EXEC$;=/usr/local/bin/tmhmm

[component train_for_glimmer3_iteration]
;; install directory for glimmer.  software expects a bin directory underneath this
$;GLIMMER3_DIR$;=/usr/local/bioinf/glimmer/glimmer/
$;ELPH_BIN$;=/usr/local/bin/elph

[component translate_sequence]
$;TRANSEQ_EXEC$;=/usr/bin/transeq

[component trf]
$;TRF_EXEC$;=/usr/local/bin/trf

[component tRNAscan-SE]
$;TRNASCANSE_EXEC$;=/opt/tRNAscan-SE/bin/tRNAscan-SE
$;TRNASCANSE_INSTALL$;=/opt/tRNAscan-SE
[component tRNAscan-SE_compress]
$;TRNASCANSE_EXEC$;=/usr/local/bin/tRNAscan-SE

[component velvet_optimiser]
$;VELVET_INSTALL_DIR$;=/opt/opt-packages/bioinf-v1r4b1/velvet

[component wu-blastp]
$;BLASTP_EXEC$;=/usr/local/common/blastp
$;COGS_DB$;=$;DB_DIR$;/ncbi/COG/myva

[component wu-tblastn]
$;TBLASTN_EXEC$;=/usr/local/common/tblastn

[component wu-tblastx]
$;TBLASTX_EXEC$;=/usr/local/common/tblastx

[component wu-blastx]
$;BLASTX_EXEC$;=/usr/local/common/blastx

[component wu-blastn]
$;BLASTN_EXEC$;=/usr/local/common/blastn

[component xdformat]
$;XDFORMAT_EXEC$;=/usr/local/common/xdformat

[component sff_to_CA]
$;SFFTOCA_EXEC$;=/usr/local/bioinf/celera-assembler/wgs-5.4/Linux-amd64/bin/sffToCA

[component sffinfo]
$;SFFINFO_EXEC$;=/opt/sff-package/bin/sffinfo

[component celera2hawkeye]
$;TOAMOS_EXEC$;=/opt/opt-packages/bioinf-v1r4b1/AMOS/bin/toAmos
$;BANK_TRANSACT_EXEC$;=/opt/opt-packages/bioinf-v1r4b1/AMOS/bin/bank-transact

[component celera-assembler]
$;CELERA_ASSEMBLER_EXEC$;=/usr/local/bioinf/celera-assembler/wgs-5.4/Linux-amd64/bin/runCA

[component megablast]
$;MEGABLAST_EXEC$;=/usr/bin/megablast

[component fast_tree]
$;FASTTREE_EXEC$;=/usr/local/bioinf/FastTree/FastTree

[component hmmer]
$;HMMER_EXEC$;=/usr/local/bioinf/hmmer/hmmer/binaries/hmmsearch

[component bowtie]
$;BOWTIE_EXEC$;=/opt/opt-packages/bowtie-0.12.0/bowtie

[component tophat]
$;TOPHAT_EXEC$;=/usr/local/stow/tophat-1.0.12/bin/tophat

[component cufflinks]
$;CUFFLINKS_EXEC$;=/opt/opt-packages/cufflink/cufflinks

[component uclust]
$;UCLUST_EXEC$;=/usr/local/bioinf/UCLUST/uclust

[component crossbow]
$;CROSSBOW_EXEC$;=/opt/crossbow/local/crossbow.pl

[component pangenome_make_graphs]
$;R_EXEC$;=/usr/bin/R


;;custom component -Jaysheel D. Bhavsar
[component reset-processing-db]
$;RESET_DB_EXEC$;=/opt/ergatis/package_virome/bin/reset-processing-db

[component rRNA-scrub]
$;rRNA_EXEC$;=/opt/ergatis/package_virome/bin/rRNA-scrub

[component db-load-library]
$;DBLOAD_LIBRARY_EXEC$;=/opt/ergatis/package_virome/bin/db-load-library

[component sequence-prep]
$;SEQUENCE_PREP_EXEC$;=/opt/ergatis/package_virome/bin/sequence-prep

[component sequence_relationship-prep]
$;SEQUENCE_RELATIONSHIP_PREP_EXEC$;=/opt/ergatis/package_virome/bin/sequence_relationship-prep

[component tRNAScan-prep]
$;TRNASCAN_PREP_EXEC$;=/opt/ergatis/package_virome/bin/tRNAScan-prep

[component metagene-prep]
$;METAGENE_PREP_EXEC$;=/opt/ergatis/package_virome/bin/metagene-prep

[component blast-result-prep]
$;BLAST_RESULT_PREP_EXEC$;=/opt/ergatis/package_virome/bin/blast-result-prep

[component db-to-lookup]
$;DB_TO_LOOKUP_EXEC$;=/opt/ergatis/package_virome/bin/db-to-lookup

[component fxn-db-to-lookup]
$;FXN_DB_TO_LOOKUP_EXEC$;=/opt/ergatis/package_virome/bin/fxn-db-to-lookup

[component db-upload]
$;DB_UPLOAD_EXEC$;=/opt/ergatis/package_virome/bin/db-upload

[component split-tab-output]
$;SPLIT_TAB_OUTPUT_EXEC$;=/opt/ergatis/package_virome/bin/split-tab-output


[component mga2seq_pep]
$;MGA2SEQ_PEP_EXEC$;=/opt/ergatis/package_virome/bin/mga2seq_pep

[component db-load-uniref-lookup]
$;DBLOAD_UNIREF_LOOKUP_EXEC$;=/opt/ergatis/package_virome/bin/db-load-uniref-lookup

[component db-load-fams]
$;DBLOAD_FAMS_EXEC$;=/opt/ergatis/package_virome/bin/db-load-fams

[component cd-hit]
$;CD_HIT_EXEC$;=/diag/projects/virome/package_virome/software/cd-hit-v4.6.1-2012-08-27/cd-hit

[component derep-blast-output]
$;DEREP_BLAST_EXEC$;=/opt/ergatis/package_virome/bin/derep-blast-output

;;blastmetagene comparison component -Sandeep
[component blastmetageneComparer]
$;BMCOMP_EXEC$; = /opt/ergatis/package_virome/bin/blast_metagenecomparer

[component clean_expand_btab]
$;CLEAN_EXPAND_BTAB_EXEC$; = /opt/ergatis/package_virome/bin/clean_expand_btab

[component update_mgol_seqname]
$;UPDATE_MGOL_SEQNAME_EXEC$; = /opt/ergatis/package_virome/bin/update_mgol_seqname

;;Shawn - custom components
[component btabTrim]
$;BTABTRIM_EXEC$; = /opt/ergatis/package_virome/bin/btabTrim

;;Anagha - custom components
[component seq_length_check]
$;SEQ_LENGTH_EXEC$; = /opt/ergatis/package_virome/bin/seq_length_check.sh 

;;Anagha - custom components
[component nt_fasta_check]
$;NT_FASTA_CHECK$; = /opt/ergatis/package_virome/bin/nt_fasta_check

;;Anagha - custom components
[component db_no_hit]
$;DB_NO_HIT$; = /opt/ergatis/package_virome/bin/db_no_hit.sh

;;Anagha - custom component
[component sync_tables]
$;SYNC_TABLES$; = /opt/ergatis/package_virome/bin/sync_tables.sh

[component cd-hit-454]
$;CD_HIT_454_EXEC$; = /diag/projects/virome/software/cd-hit-v4.6.1-2012-08-27/cd-hit-454

[component cdhit-cluster-consensus]
$;CDHIT_CLUSTER_CONSENSUS_EXEC$; = /opt/ergatis/package_virome/bin/cdhit-cluster-consensus

;;Jaysheel component
[component gen_lib_stats]
$;GEN_LIB_STATS$; = /opt/ergatis/package_virome/bin/gen_lib_stats

[component env_lib_stats]
$;ENV_LIB_STATS$; = /opt/ergatis/package_virome/bin/env_lib_stats

[component fxnal_count_chart_creator]
$;FXNAL_COUNT_CHART_CREATOR$; = /opt/ergatis/package_virome/bin/fxnal_count_chart_creator

[component fxnal_count_chart_creator_all]
$;FXNAL_COUNT_CHART_CREATOR_ALL$; = /opt/ergatis/package_virome/bin/fxnal_count_chart_creator_all

[component libraryHistogram]
$;LIBRARY_HISTOGRAM$; = /opt/ergatis/package_virome/bin/libraryHistogram

;;[component viromeTaxonomyXML]
;;$;VIROMETAXONOMYXML$; = /opt/ergatis/package_virome/bin/viromeTaxonomyXML

;;[component viromeClassification]
;;$;VIROMECLASSIFICATION$; = /opt/ergatis/package_virome/bin/viromeClassification

;;Shulie   components
[component QC_filter]
$;QC_FILTER$; = /opt/ergatis/package_virome/bin/QC_filter

[component btabTrimMGOL]
$;BTABTRIMMGOL_EXEC$; = /opt/ergatis/package_virome/bin/btabTrimMGOL 

[component blast2btab]
$;BLAST2BTAB_EXEC$; = /opt/ergatis/package_virome/bin/wu-blast2btab 

[component viromeorf-prep]
$;VIROMEORF_PREP_EXEC$; = /opt/ergatis/package_virome/bin/viromeorf-prep

;;Nasko - Custom Components
[component split_btab]
$;SPLITBTAB$;=/diag/projects/virome/package_virome/bin/split_btab

[component btab2viromebtab]
$;BTAB2VIROMEBTAB$;=/diag/projects/virome/package_virome/bin/btab2viromebtab

[component concatenate_files]
$;CONCATENATE_FILES$;=/diag/projects/virome/package_virome/bin/concatenate_files

[component publish_checkin]
$;PUBLISH_CHECKIN$;=/diag/projects/virome/package_virome/bin/publish_checkin

[component fastq2fastaqual]
$;FASTQ2FASTAQUAL$;=/diag/projects/virome/package_virome/bin/fastq2fastaqual

[component fasta_size_filter]
$;FASTA_SIZE_FILTER$;=/opt/ergatis/package_virome/bin/fasta_size_filter

[component archiver_and_dumper]
$;ARCHIVER_AND_DUMPER_EXEC$;=/opt/ergatis/package_virome/bin/archiver_and_dumper

[component inspector]
$;INSPEC_EXEC$;=/opt/ergatis/package_virome/bin/inspector

[component fastaQual2fastq]
$;FASTAQUAL2FASTQ_EXEC$;=/opt/ergatis/package_virome/bin/fastaQual2fastq

[component tie_seq_id]
$;TIE_SEQ_ID$; = /opt/ergatis/package_virome/bin/tie_seq_id

[component frag_gene_scan]
$;FRAG_GENE_SCAN$;= /diag/scratch/FragGeneScan1.16/FragGeneScan

[component updateQualityFile]
$;UPDATE_QUALITY_SCORES$;=/opt/ergatis/package_virome/bin/updateQualityFile

[component archive_virome_pipeline]
$;ARCHIVE_VIROME_PIPELINE$;=/diag/projects/virome/package_virome/bin/archive_virome_pipeline

[component ncbi-blastp-plus]
$;BLASTP2226_EXEC$;=/diag/projects/virome/package_virome/software/ncbi-blast-2.2.28+/bin/blastp

[component ncbi-blastn-plus]
$;BLASTN2226_EXEC$;=/diag/projects/virome/package_virome/software/ncbi-blast-2.2.28+/bin/blastn

[component reset_db]
$;RESET_DB$;=/diag/projects/virome/package_virome/bin/reset_db

[component dump_db]
$;DUMP_DB$;=/diag/projects/virome/package_virome/bin/dump_db

[component transfer_checkin]
$;TRANSFER_CHECKIN$;=/diag/projects/virome/package_virome/bin/transfer_checkin

;;Khaleel - Custom Components
[component kmer_freq]
$;UPDATE_QUALITY_SCORES$;=/opt/ergatis/package_virome/bin/kmer_freq

