[interface]
classification = virome

[parameter]
;; where is this executed igs, dbi, ageek or test
$;LOCATION$;=diag
;; valid values are sequence, orf, blastp, blastn, blastx or tRNA
$;TABLE_NAME$;=blastp

[input]
;; prepared output file for import
$;INPUT_FILE_LIST$;=
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_blastp/blastp.out
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=raw

[output]
$;OUTPUT_TOKEN$;=blastp
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$;=db-upload
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=1.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 1 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=
$;OS$;=
$;MEMORY$;=1
$;HOSTS$;=
$;QUEUE$;=workflow.q
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;=
