[interface]
classification = virome

[parameter]
;; prefix for each part of file
$;PREFIX$;=sequence
;; number of files to split by
$;NUM_OF_FILE_SPLIT$;=2

[input]
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_rna/rna.out

[output]
$;OUTPUT_TOKEN$;=rna
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.$;OUTPUT_TOKEN$;.list

[component]
$;COMPONENT_NAME$;=split-tab-output
$;DESCRIPTION$;=Inserts blank line for ids where blast has not occured
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=1.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 1 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=
$;OS$;=
$;MEMORY$;=1
$;HOSTS$;=
$;QUEUE$;=workflow.q
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;=
