[interface]
classification = virome

[input]
;all files in input list will be converted
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/ncbi-blastp-plus/$;PIPELINEID$;_mgol/ncbi-blastp-plus.btab.list
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

;Algorithm (BLASTP or BLASTN)
$;ALGORITHM$; = BLASTP
;Database (UNIREF100P_SEP2013, METAGENOMES_FEB2013, UniVec_Core, rRNA)
$;DATABASE$; = METAGENOMES_FEB2013

[output]
$;OUTPUT_TOKEN$; = mgol
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BTAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.btab.list

[component]
$;COMPONENT_NAME$; = btab2viromebtab
$;DESCRIPTION$; = Convert BLASTs tabular output to VIROMEs tabular format
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 0.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=



[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=
$;OS$;=
$;MEMORY$;=1
$;HOSTS$;=
$;QUEUE$;=workflow.q
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;=
