[interface]
classification = virome

[parameters]
;; III. USE EXTRACTED K-MER TABLES (FROM READS IN FILE X) TO MATCH THE K-MER SEQUENCES IN IT BACK AGAINST READS IN X:
;; 
;; -tl s_e_l ---> s=base to Start || e=base to End on || l=the Length of the window
;; NOTE-> The first base is 0
$;TAG_LEFT$; =  
;; -tr s_e_l ---> s=base to Start || e=base to End on || l=the Length of the window
;; NOTE-> The first base is 0
$;TAG_RIGHT$; =
;; -minKP INT ---> the minimum kmer percentage limit for a kmer sequence to be added to the kmer table.
;; Default is >=5%
$;MIN_KMER_PER$; =
;; -sp INT --> sampling probablity for a read in input file.
;; Default is 10%. At sp=10%, each read in the input file has a 10% chance of being used for K-mer extraction.
$;SAMP_PROB$; =
;; -kmp INT ---> specify the percentage for fuzzy-matching of K-mers.
;; Default is 100%
$;KMP$; =
;; -mr i_l ---> i=where to start in the Index || l=extract L bases
;; NOTE-> The first base is 0
$;MATCH_RIGHT$; =
;; -ml i_l ---> i=where to start in the Index || l=extract L bases
;; NOTE-> The first base is 0
$;MATCH_LEFT$; =
;; -kr_L s_e ---> s=where to Start || e=where to End
$;KILL_RANGE_LEFT$; =
;; -kr_R s_e ---> s=where to Start || e=where to End
$;KILL_RANGE_RIGHT$; =

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;ACCESSION_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.acc.list
$;SEQUENCE_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list
$;QUALITY_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.qual.list
$;FLOWGRAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.flow.list
$;TAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.tab.list

[component]
$;COMPONENT_NAME$; = kmer_freq
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
